# You should not edit this file directly.  Instead, you should edit requirements.txt.in.
asn1crypto==0.24.0
attrs==17.4.0
boto3==1.9.104
botocore==1.12.104
cffi==1.12.2
chalice==1.7.0
click==6.7
cryptography==2.6.1
docutils==0.14
enum-compat==0.0.2
furl==2.0.0
jmespath==0.9.4
orderedmultidict==1.0
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.0
PyYAML==3.13
s3transfer==0.2.0
six==1.12.0
urllib3==1.24.1
