# You should not edit this file directly.  Instead, you should edit requirements.txt.in.
asn1crypto==0.24.0
attrs==19.1.0
boto3==1.9.222
botocore==1.12.222
certifi==2019.6.16
cffi==1.12.3
chalice==1.11.0
chardet==3.0.4
click==6.7
clickclick==1.2.2
connexion==2.3.0
crc32c==1.7
cryptography==2.7
dcplib==3.3.0
docutils==0.15.2
enum-compat==0.0.2
Flask==1.1.1
furl==2.0.0
idna==2.8
inflection==0.3.1
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==2.6.0
MarkupSafe==1.1.1
openapi-spec-validator==0.2.8
orderedmultidict==1.0.1
puremagic==1.4
pycparser==2.19
PyJWT==1.7.1
python-dateutil==2.8.0
python-json-logger==0.1.11
PyYAML==5.2
requests==2.22.0
s3transfer==0.2.1
six==1.12.0
termcolor==1.1.0
typing==3.6.4
urllib3==1.26.5
Werkzeug==0.15.6

pip>=19.2 # not directly required, pinned by Snyk to avoid a vulnerability